# Import and send tables to nfl database

## 17. import_contracts
## 18. import_win_totals
## 19. import_sc_lines
## 20. import_draft_picks
## 21. import_draft_values
## 22. import_combine_data
## 23. import_ftn
## 24. improt_team_desc

In [1]:
# In Python or a script, just to confirm:
import sqlite3
sqlite3.connect(r"C:\Users\tx400\SQL_Downloads\nfl_data_db.sqlite")

In [2]:
import nfl_data_py as nfl
import sqlite3
import pandas as pd
import numpy as np

# Connect to your SQLite DB (will create if it doesn't exist)
conn = sqlite3.connect(r'C:\Users\tx400\SQL_Downloads\nfl_data_db.sqlite')

#### 17. Import & send contracts table to nfl db

In [3]:
# Import nfl_data_py table(s)
df25 = nfl.import_contracts()
df25.shape

(47093, 25)

In [4]:
# Write the DataFrame to a table
df25.to_sql('contracts_df', conn, if_exists='replace', index=False)

47093

#### 18. Import & send win totals table to nfl db

In [5]:
# Import nfl_data_py table(s)
df26 = nfl.import_win_totals()
df26.shape

WARNING:root:The win totals data source is currently in flux and may be out of date.

(470217, 9)

In [6]:
# Write the DataFrame to a table
df26.to_sql('win_totals_df', conn, if_exists='replace', index=False)

470217

#### 19. Import & send scoring lines table to nfl db

In [7]:
# Import nfl_data_py table(s)
df27 = nfl.import_sc_lines()
df27.shape

(4092, 7)

In [8]:
# Write the DataFrame to a table
df27.to_sql('sc_lines_df', conn, if_exists='replace', index=False)

4092

#### 20. Import & send draft picks table to nfl db

In [9]:
# Import nfl_data_py table(s)
df28 = nfl.import_draft_picks(list(range(1999,2024)))
df28.shape

(6383, 36)

In [10]:
# Write the DataFrame to a table
df28.to_sql('draft_picks_df', conn, if_exists='replace', index=False)

6383

#### 21. Import & send draft values table to nfl db

In [11]:
# Import nfl_data_py table(s)
df29 = nfl.import_draft_values()
df29.shape

(262, 6)

In [12]:
# Write the DataFrame to a table
df29.to_sql('draft_values_df', conn, if_exists='replace', index=False)

262

#### 22. Import & send combine table to nfl db

In [13]:
# Import nfl_data_py table(s)
df30 = nfl.import_combine_data(list(range(1999,2025)))
df30.shape

(8320, 18)

In [14]:
# Write the DataFrame to a table
df30.to_sql('combine_df', conn, if_exists='replace', index=False)

8320

#### 23. Import & send FTN Charting table to nfl db

In [15]:
# Import nfl_data_py table(s)
df31 = nfl.import_ftn_data(list(range(2022,2025)))
df31.shape

Downcasting floats.

(137899, 29)

In [16]:
# Write the DataFrame to a table
df31.to_sql('ftn_df', conn, if_exists='replace', index=False)

137899

#### 24. Import & send team description table to nfl db

In [17]:
# Import nfl_data_py table(s)
df32 = nfl.import_team_desc()
df32.shape

(36, 16)

In [18]:
# Write the DataFrame to a table
df32.to_sql('team_desc_df', conn, if_exists='replace', index=False)

36